<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signin_controller</servlet-name>
        <servlet-class>controller.Signin_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup_controller</servlet-name>
        <servlet-class>controller.Signup_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupDelete</servlet-name>
        <servlet-class>controller.SignupDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signout_controller</servlet-name>
        <servlet-class>controller.Signout_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product_category_insert_controller</servlet-name>
        <servlet-class>controller.product_category.product_category_insert_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_controller</servlet-name>
        <servlet-class>controller.product_category.Delete_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product_insert_controller</servlet-name>
        <servlet-class>controller.products.Product_insert_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartcontroller</servlet-name>
        <servlet-class>controller.addToCartcontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin_controller</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup_controller</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupDelete</servlet-name>
        <url-pattern>/SignupDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signout_controller</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product_category_insert_controller</servlet-name>
        <url-pattern>/product_category_insert_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_controller</servlet-name>
        <url-pattern>/Delete_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product_insert_controller</servlet-name>
        <url-pattern>/Product_insert_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartcontroller</servlet-name>
        <url-pattern>/addToCartcontroller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
